<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Takoy Academy — O‘quvchi Sahifasi</title>
<link rel="stylesheet" href="{% static 'css/oquvchi.css' %}">
</head>
<body>

<header>
  <div class="logo">
    Takoy Academy
  </div>
  <nav>
    <a href="#">Bosh sahifa</a>
    <a href="#">Darslar</a>
    <a href="#">Topshiriqlar</a>
    <a href="#">Profil</a>
  </nav>
</header>

<!-- SCORES BAR -->

<main style>
<aside>
  <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7T9VOCzPJOr0qhwQmuvbXtqxVzw7LKUB2mA&s" alt="Profil rasmi">
  <h2>Ali Karimov</h2>
  <p><strong>9-"B" sinf</strong></p>
  <p>Men web dasturlashni o‘rganaman va Takoy Academy platformasida o‘qiyapman.</p>
</aside>

<section>
 <div class="baholar">
 <h2 class="section-title">Baholarim</h2>
  <div class="scores-bar">
  <div class="score-card">Matematika<br><span>95%</span></div>
  <div class="score-card">Ingliz tili<br><span>88%</span></div>
  <div class="score-card">Informatika<br><span>92%</span></div>
  <div class="score-card">Fizika<br><span>85%</span></div>
  <div class="score-card">Kimyo<br><span>90%</span></div>
  <div class="score-card">Tarix<br><span>87%</span></div>
</div>
</div>
                         
  <h2 class="section-title" style="margin:30px 0;">Bugungi darslar</h2>
  <div class="lessons">
    <div class="lesson">
      <h3>HTML Asoslari</h3>
      <p>Veb sahifani tuzish uchun asosiy teglar va tuzilma.</p>
      <small>Yangi</small>
    </div>
    <div class="lesson">
      <h3>CSS Dizayn</h3>
      <p>Saytga chiroyli ko‘rinish berish uchun ranglar, shriftlar va joylashuv.</p>
      <small>Bajarilmoqda</small>
    </div>
    <div class="lesson">
      <h3>JavaScript Kirish</h3>
      <p>Interaktiv sayt yaratish uchun dasturlash asoslari.</p>
      <small>Kutilmoqda</small>
    </div>
    <div class="lesson">
      <h3>Frontend Loyihasi</h3>
      <p>O‘zingizning birinchi mini loyihangizni yaratish va sinovdan o‘tkazish.</p>
      <small>Topshirilgan</small>
    </div>
  </div>
</section>
</main>

<footer>
  © 2025 Takoy Academy — O‘quvchilar uchun ta’lim platformasi
</footer>

</body>
</html>
